
.bg-primary {
  background-color: #5c4ac7 !important;
}
.bg-success {
  background-color: #26dad2 !important;
}
.bg-info {
  background-color: #1976d2 !important;
}
.bg-warning {
  background-color: #ffb22b !important;
}
.bg-danger {
  background-color: #ef5350 !important;
}
.bg-megna {
  background-color: #00897b;
}
.bg-theme {
  background-color: #1976d2;
}
.bg-inverse {
  background-color: #2f3d4a;
}
.bg-purple {
  background-color: #7460ee;
}
.bg-light-part {
  background-color: rgba(0, 0, 0, 0.02);
}
.bg-light-primary {
  background-color: #f1effd;
}
.bg-light-success {
  background-color: #e8fdeb;
}
.bg-light-info {
  background-color: #cfecfe;
}
.bg-light-extra {
  background-color: #ebf3f5;
}
.bg-light-warning {
  background-color: #fff8ec;
}
.bg-light-danger {
  background-color: #f9e7eb;
}
.bg-light-inverse {
  background-color: #f6f6f6;
}
.bg-light {
  background-color: #f2f4f8;
}
.bg-white {
  background-color: #ffffff;
}
.bg-primary {
  background: #4680ff !important;
  color: #ffffff;
  fill: #4680ff;
}
.bg-success {
  background: #26dad2 !important;
  color: #ffffff;
  fill: #26dad2;
}
.bg-info {
  background: #62d1f3 !important;
  color: #ffffff;
  fill: #62d1f3;
}
.bg-danger {
  background: #fc6180 !important;
  color: #ffffff;
  fill: #fc6180;
}
.bg-warning {
  background: #ffb64d !important;
  color: #ffffff;
  fill: #ffb64d;
}
.bg-pink {
  background: #e6a1f2 !important;
  color: #ffffff;
  fill: #e6a1f2;
}
.bg-dark {
  background: #444c67 !important;
  color: #ffffff;
  fill: #444c67;
}
.bg-transparent {
  background: transparent;
  color: #252525;
}
.bg-ash {
  background: #f5f5f5;
}
.bg-white {
  background: #ffffff;
}
